body{
  margin:10px;
  font-size:1.2em;
  color:#fff;
}
.col{
  display:inline-flex;
  width:120px;
  height:120px;
  background: #f5f1e9;
  border:1px solid #000;
  vertical-align: top;
}
.flex-item{
  width:40px;
  text-align:center;
  line-height: 40px;
}
.item1{
  background:#e9573e;
}
.item2{
  background:#8cc051;
}
.item3{
  background:#3baeda;
}